body{
margin:0;
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1f4037,#99f2c8);
}

.todo-app{

width:350px;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
color:white;

}

h1{
text-align:center;
margin-bottom:20px;
}

.input-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:8px;
font-size:16px;
}

button{
padding:10px 15px;
border:none;
border-radius:8px;
background:#00c896;
color:white;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#009f74;
}

ul{
list-style:none;
padding:0;
}

li{
background:rgba(255,255,255,0.2);
padding:10px;
border-radius:8px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.completed{
text-decoration:line-through;
opacity:0.6;
}

.delete-btn{
background:red;
border:none;
color:white;
padding:5px 8px;
border-radius:5px;
cursor:pointer;
}